<table>
  <tr>
    <td>
     Total de preguntas: <%= statistics.totalQuizes %>
    </td>
  </tr>
  <tr>
    <td>
      Total de comentarios: <%= statistics.totalComments %>
    </td>
  </tr>
  <tr>
    <td>
      Media de comentarios por pregunta: <%= statistics.avgCommentsQuiz %>
    </td>
  </tr>
  <tr>
    <td>
      Preguntas sin comentarios: <%= statistics.numQuizesWithoutComments %>
    </td>
  </tr>
  <tr>
    <td>
      Preguntas con comentarios: <%= statistics.numQuizesWithComments %>
    </td>
  </tr>
</table>
